---
name: Run lint check
on:
  push:
    branches:
      - develop
      - main
  pull_request:
jobs:
  run-tests:
    name: Run lint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: Install dependencies
        shell: bash
        run: |
          bash -x scripts/github_actions-install_tools.sh
      - name: Run lint check
        shell: bash
        run: |-
          poetry run poe format-check
